.pokedex-title{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(232, 139, 139);
    border: solid 3px red;
    padding-inline:  1px;
}

.pokedex-title h1{
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 1px blue;
}

.pokedex-title p{
    font-weight: bold;
}

.pokedex-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, 120px);
    justify-content: center;
    border: solid 2px white;
    width: fit-content;
    height: 550px;
    max-height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    overflow: auto;
    align-content: start;
    background-color: rgb(0, 0, 0, 0.5);
    border: solid 2px red;
    box-shadow: 1px 1px 10px red;
}

.pkmn-in-pokedex {
    display: grid;
    border: solid 3px black;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 10px;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(255,255,255,0.5);
}

.pkmn-in-pokedex img{
    width: 65px;
    height: 65px;
    margin-top: -10px;
}

.not-seen{

}

.seen{
    border: solid 2px white;
    filter: grayscale(100%);
    box-shadow: 0px 0px 20px white;
}

.caught {
    border: solid 4px #47db47;
    box-shadow: 0px 0px 20px green;
    ;
}

.pokemon-filter {
    position: absolute;
    left: calc(50% - 695px);
    transform: translateX(-50%);
    top: 220px;
}

.pokemon-filter select {
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(40, 40, 40, 1) 48%, rgba(117, 117, 117, 1) 100%);
    color: yellow;
}

.pokemon-filter option {
    background: rgb(40, 40, 40);
}

.pokedex-filter {
    position: absolute;
    left: calc(50% - 695px);
    transform: translateX(-50%);
    top: 320px;
}

.pokedex-filter select {
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(40, 40, 40, 1) 48%, rgba(117, 117, 117, 1) 100%);
    color: yellow;
}

.pokedex-filter option {
    background: rgb(40, 40, 40);
}
