.team-container {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1400px; /* Ancho fijo */
    height: 680px;
    margin: 0 auto;
    margin-top: 30px;
}

.pokemon-container {
    display: flex;
    align-items: center;
    border: solid 3px rgb(19, 97, 27);
    border-radius: 10px;
    flex-direction: column;
    margin: 10px;
    position: relative;
    background: linear-gradient(0deg,rgba(153, 227, 145, 1) 0%, rgba(37, 176, 51, 1) 100%);
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

.stats-container {
    display: grid;
    grid-template-columns: 110px 110px;
    position: absolute;
    left: 50px;
    margin-left: 135px;
    top: 17px;
    height: 183px;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}
   
.stat {
    display: grid;
    grid-template-columns: auto auto;
}

.label-stat{
    font-weight: bold;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -240px;
    margin-top: 20px;
}

.img-container {
    margin-right: 240px;
    margin-top: 30px;
}

.types-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 12px;
}

.img-pkmn-css {
    border: solid 1px black;
    background: radial-gradient(circle,rgba(252, 252, 252, 1) 0%, rgba(173, 173, 173, 1) 100%);
    display: flex;
    justify-content: center;
    width: 135px;
    height: 135px;
}

.type1-css{
    border: solid 1px black;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 0px white;
}

.type2-css {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 0px white;
}

.abnat-container {
    display: grid;
    grid-template-columns: 180px;
    position: absolute;
    top: 220px;
    margin-left: 170px;
}

.ability-stat {
    display: flex;
    gap: 6px;
    align-items: center;
}

.nature-stat {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 10px;
}

.nature-label{
    font-weight: bold;
}

.ability-label{
    font-weight: bold;
}

.ability.css{

}

.nature.css{

}

.lv-css {
    margin-top: 10px;
    border: solid 2px black;
    padding: 3px;
    font-weight: bold;
    border-radius: 10px;
}

.separator {
    position: absolute;
    top: 200px; /* Ajusta según tu diseño */
    left: 190px;
    right: 30px;
    height: 1.5px;
    width: 210px;
    background-color: #555;

}

.nickname-css {

}

.name-css {
    margin-top: 2px;
    font-weight:bold;
}

.hp-css{

}

.maxHp-css{

}

.atq-css{

}

.spAtq-css{

}

.def-css{

}

.spDef-css{

}

.spe-css{

}
